# PetID Backend - Variables de Entorno
PORT=3001
NODE_ENV=development
RPC_URL=https://rpc-pob.dev11.top
CHAIN_ID=57042
CONTRACT_ADDRESS=0xA20d04BfF7E7847C45F18CB02Df7a003482ae7f9
EXPLORER_URL=https://explorer-pob.dev11.top
# En Render: https://petid-frontend.onrender.com (la URL de tu frontend)
FRONTEND_URL=http://localhost:3000

# Supabase
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGci...
